<div class="row">
</br>
    <div class="col-md-8 col-md-offset-2">
      <%= simple_form_for @coloc do |f| %>
        <%= f.input :name %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
  </br>
      <p>Combien as-tu de colocs?</p>


<form>
<input type="button" value=" - " onClick="javascript:this.form.champ.value--;">
<input type="text" name="champ" value="0">
<input type="button" value=" + " onClick="javascript:this.form.champ.value++;">
</form>

		</br>
      <p>Envoie un mail à tes colocs pour les inviter </p>
	<%= email_field(:user, :address) %>
	<%= email_field(:user, :address) %>
	<%= email_field(:user, :address) %>
	<input class= 'btn btn-primary'
       type="button"
       value="C'est parti!">


  </div>
</div>
