<% content_for :title, "Planning de ta coloc" %>

<div class="container">

  <h1>Planning <%= @coloc.name.capitalize %></h1>

  <% @ranking.each do |coloc|%>
    <% @points = 0 %>

    <div class="row planning-card">
      <div class="col-xs-3 text-center div-img-planning">
        <%= image_tag coloc[0].photo, class: "img-planning" %>
      </div>

      <div class="col-xs-6">
        <% coloc[0].plannings.where(week_nb:@week_nb).each do |planning| %>
          <% if planning.completed == true
            icon_class = "mini_card_icon_done"
          else
            icon_class = "mini_card_icon_to_do"
          end %>
          <%= image_tag planning.task.icon, class: icon_class %>
        <% end %>
      </div>

      <div class="col-xs-3 text-center">
        <p><%= coloc[1] %> <i class="fas fa-star"></i></p>
      </div>
    </div>

  <% end %>

  <p>
    <%= link_to 'Retour à mon planning', plannings_path, class: "btn my-btn btn-block" %>
  </p>

</div>
