<div class="container-fluid" style="background: linear-gradient(to right, #000000, #434343);">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">

      <% if @success %>
        <%= render 'gain' %>
      <% else %>
        <%= render 'loss' %>
      <% end %>
<!-- 
      <h1 id="match" style="font-family:'Parisienne'; font-size: 52px; ">It's a Match !</h1> -->
      <%= image_tag 'matchtinder.svg',class: "match-title" %>

      <p>Voici ton planning pour la semaine :</p>

      <p><%= image_tag current_user.photo, class: "img-match", height: 150 %></p>

      <div class="plannings">
        <% @plannings.each do |planning| %>

          <% if planning.completed == true
            icon_class = "card_icon_done"
          else
            icon_class = "card_icon_to_do"
          end %>

          <%= link_to image_tag(planning.task.icon, class: icon_class), planning_path(planning), method: :patch %>
          <!-- Ajouter 'data-planning-id': planning.id & remote: true pour le faire en AJAX -->

        <% end %>
      </div>

      <p style="font-weight: lighter; margin-top: 20px;">Quand tu as réalisé l'une de tes tâches, viens cliquer sur son icône.</p>

      <p class="loss-btn">LOSS</p>
      <p>
        <%= link_to 'Planning de ma coloc', colocs_plannings_path, class: "btn my-btn btn-block" %>
      </p>
      <p class="btn my-btn btn-block test">Voir le détail de mes tâches</p>
    </div>
  </div>
</div>
