<div class="container-fluid" style="background: linear-gradient(to right, #000000, #434343);">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">

      <% if @success %>
        <%= render 'gain' %>
      <% else %>
        <%= render 'loss' %>
      <% end %>

      <div class="loader"><%= image_tag "slot-machine.gif" %></div>

      <h1 id="match" style="font-family:'Parisienne'; font-size: 52px; ">It's a Match !</h1>

      <p>Voici ton planning pour la semaine :</p>

      <p><%= image_tag current_user.photo, class: "img-match", height: 150 %></p>

      <div class="plannings">
        <% @plannings.each do |planning| %>

          <% if planning.completed == true
            icon_class = "card_icon_done"
          else
            icon_class = "card_icon_to_do"
          end %>

          <%= link_to image_tag(planning.task.icon, class: icon_class, 'data-planning-id': planning.id), planning_path(planning), method: :patch %>
          <!-- Ajouter remote: true pour le faire en AJAX -->

        <% end %>
      </div>

      <p class="loss-btn">LOSS</p>
      <p class="btn my-btn btn-block">Planning de ma coloc</p>
      <p class="btn my-btn btn-block test">Voir le détail de mes tâches</p>
    </div>
  </div>
</div>
